<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>PIPO Appelsap</h2>

                    <h3>Spring Boot Web App</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/pipo.png" width="400"
                     th:src="@{/images/pipo.png}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>